@using ImpotsTaxes.Models;
@{
    ViewBag.Title = "Index";

    Session["utilisateur"] = "";
    Session["user_group"] = "";
    Session["entity"] = "";
    
    Login login=new Login();
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" />
</head>
<body>    
    <!--LOGIN-->
        <!--======-->
        <div id="login">
        <form method="post" action="">
            <fieldset>
                <legend class="controle">Log In</legend>
                
                <table>
                    <tr>
                        <td>Numéro du dossier</td>
                        <td><input type="text" name="pers_id" class="txtStyle" /></td>
                    </tr>
                    <tr>
                        <td>Mot de passe</td>
                        <td><input type="password" name="pswd" class="txtStyle" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Se connecter" class="bouton" /></td>
                    </tr>
                    
                </table>
            </fieldset>
        </form>

        
        @if (IsPost)
        {
            
            string nom = Request["pers_id"];
            string pswd = Request["pswd"];
            
            try
            {
                if(login.CheckPswd(nom)=="1")
                {
                    Session["utilisateur"] = Request["pers_id"];
                    Response.Redirect("/Login/ChangePSWD");
                }
                else
                {
                    Session["entity"] = login.UserEntity(Request["pers_id"]);
                    Session["entity_ID"] = login.UserEntityID(Request["pers_id"]);                                                                   
                    switch (login.Connect(nom, pswd))
                    {
                        case "Taxateur":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Taxateur";                                                           
                            break;
                        case "Ordonnateur":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Ordonnateur";                                    
                            break;
                        case "Receveur":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Receveur";                                   
                            break;
                        case "Banquier":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Banquier";                                   
                            break;
                        case "Vérification des adresses":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Vérification des adresses";
                            break;
                        case "Repertoires":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Repertoires";
                            break;
                        case "Saisie des activités":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Saisie des activités";
                            break;
                        case "Suivi du recensement":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Suivi du recensement";
                            break;
                        case "Vignettes":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Vignettes";
                            break;
                        case "OPS Finances":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "OPS Finances";
                            break;
                        case "CD Finances":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "CD Finances";
                            break;
                        case "DAF":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "DAF";
                            break;
                        case "Administrateur":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Administrateur";
                            break;
                        case "Chef de Centre":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Chef de Centre";
                            break;
                        case "DG":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "DG";
                            break;
                        case "Inspection":
                            Session["utilisateur"] = Request["pers_id"];
                            Session["user_group"] = "Inspection";
                            break;   
                        default:
                            <p style="color:red;">Aucun utilisateur ne correspond au coordonnées saisies. Vérifier le numéro de dossier et le mot de passe!</p>
                            break;
                    }

                    Response.Redirect("/Acceuil/Index");                    
                }
            }
            catch (Exception ex)
            {
                <p style="color:red;">@ex.Message</p>
            }
        }
        
    </div>
    
</body>
</html>



