@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AfficherDeclaration</title>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" />  
    <link rel="stylesheet" href="../../Content/designCalendrier.css"/>
    <script type="text/javascript" src="../../Content/calendrier.js"></script>
    <script type="text/javascript" src="../../Content/EtablirDeclaration.js"></script>
</head>
<body id="AfficherDeclaration" onload="processus('AfficherDeclaration','@Request.Params["action"]');">
    
    <div>
     <h1 style="text-align:center;text-decoration:underline;">PROCESSUS DE DECLARATION</h1>
   </div>

   <div id="processus" style="position:absolute; top:70px; left:180px; width:400px;">
        <h1 style="text-align:center;">PROCESSUS</h1>
   </div>
   <div id="affichagerDeclaration" style="position:absolute; top:60px; left:1030px; width:900px; background-color:aliceblue;">
        <h2>Déclaration n°................</h2>
    </div>
</body>
</html>
