@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>ACCUEIL DECLARATION</h1>
       <a href="/Declaration/ElaborDeclaration">Déclaration</a> 
    </div>
</body>
</html>
