@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SaisieCoordonneesEntreprise</title>
</head>
<body>
    <div>
         @ViewBag.Message
        <a href="/Declaration/EnregistrerPersonne?action=&declaration=&ass=&nat=&prov=&vil=&com=&quar=&av=&num=&note=">Selectionner la nature</a>
    </div>
</body>
</html>
