@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RechercheAssujetti</title>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" /> 
    <link type="text/css" rel="stylesheet" href="../../Content/clignotement.css" />
    <script type="text/javascript" src="../../Content/etablirMED.js"></script>
</head>
<body id="RechercheAssujetti" onload="processus('RechercheAssujetti','@Request.Params["action"]');">
    
    <div>
        <h2 style="text-align:center;text-decoration:underline;">ETABLIR LES MISES EN DEMEURE</h2>
    </div> 
      
    <div id="processus" style="position:absolute; top:60px; left:10px; width:800px;">
        <h1 style="text-align:center;">PROCESSUS</h1>
    </div>
      
    <div id="feuille" style="position:absolute; top:150px; left:600px; width:500px; background-color:aliceblue;">
        <form method="post" action="/Recouvrement/LstRechAssujetti?action=@Request.Params["action"]">
            <fieldset>
                <legend>
                    Assujetti
                </legend>
                <table>
                    <tr>
                        <td>Nom ou une partie du nom:</td>
                        <td><input type="text" name="nom" id="nom" required/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Envoyer" /></td>
                    </tr>
                </table>
            </fieldset>
                         
        </form>
    </div>
</body>
</html>
