@using ImpotsTaxes.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SelectAntenne</title>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" /> 
    <link type="text/css" rel="stylesheet" href="../../Content/clignotement.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/styleTable.css" />
    <script type="text/javascript" src="../../Content/etablirMED.js"></script>
</head>
<body id="SelectAntenne" onload="processus('SelectAntenne','@Request.Params["action"]');">
    <div>
        <h2 style="text-align:center;text-decoration:underline;">ETABLIR LES MISES EN DEMEURE</h2>
    </div>

    <div style="position:absolute; top:60px; left:800px; width:800px; z-index:1;">
        <!--Navigation-->
        <table >
			            <tr>
                            <th>N°</th>
                            <th>ID</th>
                            <th>ANTENNE</th>
                        </tr>
                        @{ListesMED lst = new ListesMED();}
                        @foreach (Entite entite in lst.ListAntennes())
                        {
                            <tr>
                                <td>@entite.nbre</td>
                                <td>@entite.entity_id</td>
                                <td><a href="/Recouvrement/AssujettisMED?action=@Request.Params["action"]&ant=@entite.entity_id&inf=0&sup=10">@entite.entity_name</a></td>
                            </tr>
                        }								
		</table>
    </div>
    
    <div id="processus" style="position:absolute; top:60px; left:10px; width:800px; z-index:2;">
        <h1 style="text-align:center;">PROCESSUS</h1>
    </div>
</body>
</html>
