@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AffichListeNote</title>
</head>
<body>
    <h1>LISTE DES NOTES</h1>
    <div>
         <a href="/TaxAssessment/AffichageNote">Affichage de la note</a>
    </div>
</body>
</html>
