@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AjoutBiensImpFeuille</title>
</head>
<body>
    <div>
         <a href="/TaxAssessment/AffichageFeuilleCalcul">Affichage de la feuille avec tous les elements taxés</a>
    </div>
      <input type="submit" name="search" id="search" value="suivant" class="bouton" />
</body>
</html>
