@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ElaborFeuille</title>
    
</head>
<body>
     <h1>saisir la feulle</h1>
    <div>
        <a href="/TaxAssessment/EnregistrerFeuille">feuille de calcul elaborée</a>
    </div>
</body>
</html>
