@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EnregistrerFeuille</title>
</head>
<body>
     <h1>enregisrement de la feuille</h1>
    <div>
        <a href="/TaxAssessment/RechercherAssujetti">feuille de calcul Enregistrée</a>
    </div>
</body>
</html>
