@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EtablirNote</title>
</head>
<body>
     <h1>ETABLISSEMENT DES NOTES DE PERCEPTION SELON LES ARTICLES DE LA FEUILLE DE CALCUL</h1>
    <div>
         <a href="/TaxAssessment/AffichListeNote">Liste de notes établies</a>
    </div>
</body>
</html>
