@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
  
       
        <h1>Page d'aceuil de l'Edit</h1>
        <a href="/TaxAssessment/RechercherAgent">Agent concerné</a>

    </div>
</body>
</html>
