@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SelectionArticle</title>
</head>
<body>
    <div>
         <a href="/TaxAssessment/AjoutBiensImpFeuille">Ajout de biens imposable sur la feuille</a>
    </div>
</body>
</html>
