@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>AffichageFeuilleCalcul</title>
</head>
<body>
     <h1>LISTE DES NOTES</h1>
    <div>
        <a href="/TaxAssessment/EnvoyerMessage">Message envoyé</a>
    </div>
</body>
</html>
