@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>EnvoyerMessage</title>
</head>
<body>
    <div>
         <a href="/TaxAssessment/EtablirNote">Etablissement notes</a>
    </div>
</body>
</html>
