@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <script type="text/javascript">
        var clignotement = function () {
            if (document.getElementById('obj_34_Text').style.visibility == 'visible') {
                document.getElementById('obj_34_Text').style.visibility = 'hidden';
            }
            else {
                document.getElementById('obj_34_Text').style.visibility = 'visible';
            }
        };

        // mise en place de l appel de la fonction toutes les 0.8 secondes
        // Pour arrêter le clignotement : clearInterval(periode);
        periode = setInterval(clignotement, 800);
    </script>
</head>
<body>
    <div>
           @* //Etablir une feuille de calcul ou saisir une declaration
            //=======================================================*@
       <div id="obj_1_Rectangle" title="obj_1_ Rectangle " style="position: absolute; top: 100px; left: 395px; width: 200px; height: 160px; text-align:center;">
            <a href="/TaxAssessment/ElaborFeuille">
                <img src="../../Content/saisie.jpg" alt="image non disponible" width="110" height="73" /><br />
                Etablir une feuille de calcul ou saisir une Declaration<br/>
                Art 71,72,6,197
            </a>
        </div >
             @*//Saisir les quittances pour la regularisation
            //============================================*@
        <div id="obj_2_Rectangle" title="obj_2_ Rectangle " style="position: absolute; top: 120px; left: 720px; width: 200px; height: 160px; text-align:center;">
            <a href="">
              <img src="../../Content/quittance.jpg" alt="image non disponible" width="94 " height="65" /><br />
                Saisir les quittances pour la regularisation<br/>
                  Art 80, 740, 235
             </a>
         </div>
               @* //Saisir les elements imposables pour generer la note
            //===================================================*@
         <div id="obj_3_Rectangle" title="obj_3_ Rectangle " style="position: absolute; top: 460px; left: 850px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/saisie2.jpg" alt="image non disponible" width="96 " height="64" /><br />
                Saisir les elements imposables<br/>ou pour la pré-imposition <br/>
                  Art 200,201, 850, 580
             </a>
         </div>
                @*//Capturer l'image des documents de taxation
                //==========================================*@
          <div id="obj_4_Rectangle" title="obj_4_ Rectangle " style="position: absolute; top: 60px; left: 900px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/camera.jpg" alt="image non disponible" width="90 " height="90" /><br />
                Capturer l'image des documents qui  ont<br/>servi à la constatation et liquidation<br/>
                 Art 63, 900, 220
             </a>
         </div>          
                @*  //Generer une note de perception pour les feuilles de calcul
                //==========================================================*@
          <div id="obj_5_Rectangle" title="obj_5_ Rectangle " style="position: absolute; top: 280px; left: 860px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/note.jpg" alt="image non disponible" width="91 " height="100" /><br />
                Saisir les notes de<br/>perception manuelles<br/>
                  Art 73, 900, 445
             </a>
         </div>
               @*//Imprimer la note à l'assujetti
               //==============================*@
          <div id="obj_6_Rectangle" title="obj_6_ Rectangle " style="position: absolute; top:  600px; left: 880px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/imprimante.jpg" alt="image non disponible" width="105 " height="70" /><br />
                Imprimer la note<br/> à l'assujetti<br/>
                  Art 73,75, 900, 720
             </a>
         </div>
              @*//Extrait des droits constatés et liquidés
              //========================================*@
         <div id="obj_7_Rectangle" title="obj_7_ Rectangle " style="position: absolute; top:  740px; left: 870px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/extrait.jpg" alt="image non disponible" width="138 " height="60" /><br />
                Afficher ou imprimer l'extrait<br/>des droits constatés et liquidés<br/>
                  Art 60, 850, 850
             </a>
         </div>
             @*//Corriger les elements de taxation
            //=================================*@
         <div id="obj_8_Rectangle" title="obj_8_ Rectangle " style="position: absolute; top:  715px; left:  690px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/modification.jpg" alt="image non disponible" width=" 106 " height="76" /><br />
                Corriger la taxation <br/> selon l'avis motivé<br/>de l'ordonnateu<br/>
                  Art 67, 700, 845
             </a>
         </div>
               @*//Generer note des feuilles de calcul
               //=================================*@
          <div id="obj_9_Rectangle" title="obj_9_ Rectangle " style="position: absolute; top:   663px; left:  520px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/feuilleCalcul.jpg" alt="image non disponible" width=" 110 " height="88" /><br />
                Générer une note pour <br/> les feuilles de calcul<br/>déjà établies ou les déclarations saisies <br/>
                  Art 67, 560, 830
             </a>
         </div>

        @*//Afficher la situation fiscale de l'assujetti
        //============================================*@
            <div id="obj_10_Rectangle" title="obj_10_ Rectangle " style="position: absolute; top:   720px; left:  340px; width: 200px; height: 160px; text-align:center;">
             <a href="">
              <img src="../../Content/classeur.jpg" alt="image non disponible" width=" 130 " height="97" /><br />
                Afficher la situation <br/> fiscale de l'assujetti<br/>
                  Art 67, 560, 830
             </a>
         </div>
        

        <!--<h1>Page d'aceuil de l'Edit</h1>
        <a href="/TaxAssessment/ElaborFeuille">Agent concerné</a>-->

        <!--=====PROCESSUS DE TAXATION=========-->
        <canvas id="mycanvas" width="1100" height="900" style="border:3px blue dashed;">
            <p style="color:rgb(255, 0, 0);">Mettez votre navigateur à jour pour continuer!</p>
        </canvas>

        <script type="text/javascript">
            var canvas = document.getElementById("mycanvas");
            var context = canvas.getContext("2d");

            //context.fillRect(340, 20, 600, 800);

            //Frontiere
            //=========
            context.moveTo(340, 10);
            context.lineTo(1080, 10);
            context.stroke();

            context.moveTo(340, 10);
            context.lineTo(340, 880);
            context.stroke();

            context.moveTo(1080, 10);
            context.lineTo(1080, 880);
            context.stroke();

            context.moveTo(340, 880);
            context.lineTo(1080, 880);
            context.stroke();

            context.font = "40px Arial";
            context.textAlign = "center";
            context.fillText("TAXATION", canvas.width / 2, 50);

            //Taxateur
            taxateur = new Image();
            taxateur.onload = function () {
                context.drawImage(taxateur, 0, 300, 160, 106);
            }
            taxateur.src = '../../Content/taxateur.jpg';

            context.font = "20px Arial";
            context.textAlign = "center";
            context.fillText("Taxateur", 80, 430);

            //Etablir une feuille de calcul ou saisir une declaration
            //=======================================================
            /*saisief = new Image();
            saisief.onload = function () {
                context.drawImage(saisief, 400, 100, 110, 73);
            }
            saisief.src = '../../Content/saisie.jpg';

            context.textAlign = "left";
            context.font = "14px Arial";
            context.fillText("Etablir une feuille de calcul ou", 400, 185);
            context.fillText("saisir une Declaration", 400, 200);
            context.fillStyle = "rgb(9,224,96)";
            context.fillText("Art 71,72,6,197", 400, 220);*/

            context.textAlign = "left";
            context.font = "14px Arial";

            //Association Etablir une feuille de calcul ou saisir une declaration
            //===================================================================
            context.moveTo(160, 340);
            context.lineTo(400, 150);
            context.stroke();

            //Saisir les quittances pour la regularisation
            //============================================
            //quittance = new Image();
            //quittance.onload = function () {
            //    context.drawImage(quittance, 750, 120, 94, 65);
            //}
            //quittance.src = '../../Content/quittance.jpg';
            
            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Saisir les quittances", 740, 195);
            //context.fillText("pour la regularisation", 740, 215);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 80", 740, 235);

            //Association les quittances pour la regularisation
            //=================================================
            context.moveTo(160, 340);
            context.lineTo(750, 140);
            context.stroke();

            //Saisir les elements imposables pour generer la note
            //===================================================
            //elmtImp = new Image();
            //elmtImp.onload = function () {
            //    context.drawImage(elmtImp, 850, 460, 96, 64);
            //}
            //elmtImp.src = '../../Content/saisie2.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Saisir les elements imposables/", 850, 535);
            //context.fillText("taxables pour generer la note", 850, 550);
            //context.fillText("ou pour la pré-imposition", 850, 565);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 200,201", 850, 580);

            //Association saisir les elements imposables pour generer la note
            //===============================================================
            context.moveTo(160, 340);
            context.lineTo(850, 510);
            context.stroke();

            //Capturer l'image des documents de taxation
            //==========================================
            //img = new Image();
            //img.onload = function () {
            //    context.drawImage(img, 930, 60, 90, 90);
            //}
            //img.src = '../../Content/camera.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Capturer l'image des", 900, 160);
            //context.fillText("documents qui ont servi à la", 900, 180);
            //context.fillText("constatation et liquidation", 900, 200);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 63", 900, 220);

            //Relation d'extension entre capturer image et feuille de calcul 
            //===============================================================
            context.moveTo(930, 100);
            context.lineTo(510, 120);
            context.stroke();

            //Fleche
            //======
            context.moveTo(510, 120);
            context.lineTo(520, 110);
            context.lineWidth = 2.5;
            context.stroke();
            context.moveTo(510, 120);
            context.lineTo(520, 130);            
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 610, 105);

            ////Generer une note de perception pour les feuilles de calcul
            ////==========================================================
            //note = new Image();
            //note.onload = function () {
            //    context.drawImage(note, 900, 280, 91, 100);
            //}
            //note.src = '../../Content/note.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Saisir les notes de", 900, 405);
            //context.fillText(" perception manuelles", 900, 425);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText(" Art 73", 900, 445);

            //Association generer une note de perception pour les feuilles de calcul
            //======================================================================
            context.moveTo(160, 340);
            context.lineTo(900, 330);
            context.stroke();

            //Mettre à jour le répertoire des rédevables permanents
            //=====================================================
            //context.strokeStyle = "rgb(255, 216, 0)";
            context.fillStyle = "rgb(255, 216, 0)";
            //context.scale(1, 0.5);
            context.beginPath();
            context.arc(650, 255, 70, 0, 2 * Math.PI);
            context.fill();
            context.stroke();
            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("Mettre à jour le", 600, 230);
            context.fillText("repertoire des rede-", 583, 250);
            context.fillText("vables permanents", 590, 270);
            context.fillStyle = "rgb(9,224,96)";
            context.fillText("Art 61", 605, 290);

            //Association Mettre à jour le répertoire des rédevables permanents
            //=================================================================            
            context.moveTo(160, 340);
            context.lineTo(580, 255);
            context.stroke();

            //Relation mise à jour du répertoire et Feuille de calcul
            //======================================================
            context.moveTo(510, 150);
            context.lineTo(650, 185);
            context.stroke();
            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 540, 155);

            //Fleche            
            context.moveTo(510, 150);
            context.lineTo(520, 145);            
            context.stroke();
            context.moveTo(510, 150);
            context.lineTo(520, 160);
            context.stroke();

            //Relation mise à jour du répertoire et Saisir les quittances
            //===========================================================
            context.moveTo(670, 190);
            context.lineTo(750, 175);
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 675, 177);

            //Fleche            
            context.moveTo(750, 175);
            context.lineTo(740, 170);
            context.stroke();
            context.moveTo(750, 175);
            context.lineTo(740, 185);
            context.stroke();

            //Relation mise à jour du répertoire et Saisir les notes
            //======================================================
            context.moveTo(720, 255);
            context.lineTo(900, 295);
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 800, 265);

            //Fleche            
            context.moveTo(900, 295);
            context.lineTo(890, 285);
            context.stroke();
            context.moveTo(900, 295);
            context.lineTo(890, 300);
            context.stroke();

            //Relation mise à jour du répertoire et Saisir les elements imposables
            //=====================================================================
            context.moveTo(650, 325);
            context.lineTo(850, 480);
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 750, 390);

            //Fleche            
            context.moveTo(850, 480);
            context.lineTo(845, 465);
            context.stroke();
            context.moveTo(850, 480);
            context.lineTo(840, 480);
            context.stroke();

            ////Imprimer la note à l'assujetti
            ////==============================
            //imprimer = new Image();
            //imprimer.onload = function () {
            //    context.drawImage(imprimer, 900, 600, 105, 70);
            //}
            //imprimer.src = '../../Content/imprimante.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Imprimer la note", 900, 680);
            //context.fillText("à l'assujetti", 900, 700);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 73,75", 900, 720);

            //Association Imprimer la note à l'assujetti
            //==========================================
            context.moveTo(160, 340);
            context.lineTo(900, 650);
            context.stroke();

            ////Extrait des droits constatés et liquidés
            ////========================================
            //extrait = new Image();
            //extrait.onload = function () {
            //    context.drawImage(extrait, 850, 740, 138, 60);
            //}
            //extrait.src = '../../Content/extrait.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Afficher ou imprimer l'extrait", 850, 810);
            //context.fillText("des droits constatés et liquidés", 850, 830);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 60", 850, 850);

            //Association Extrait des droits constatés et liquidés
            //====================================================
            context.moveTo(160, 340);
            context.lineTo(930, 740);
            context.stroke();

            //Corriger les elements de taxation
            //=================================
            //modif = new Image();
            //modif.onload = function () {
            //    context.drawImage(modif, 720, 700, 106, 76);
            //}
            //modif.src = '../../Content/modification.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Corriger la taxation", 700, 785);
            //context.fillText("selon l'avis motivé", 700, 805);
            //context.fillText("de l'ordonnateur", 700, 825);
            //context.fillStyle = "rgb(9,224,96)";
            //context.fillText("Art 67", 700, 845);

            //Association Corriger les elements de taxation
            //=============================================
            context.moveTo(160, 340);
            context.lineTo(760, 700);
            context.stroke();

            ////Generer note des feuilles de calcul
            ////=================================
            //feuille = new Image();
            //feuille.onload = function () {
            //    context.drawImage(feuille, 560, 650, 110, 88);
            //}
            //feuille.src = '../../Content/feuilleCalcul.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Générer une note pour", 560, 750);
            //context.fillText("les feuilles de calcul", 560, 770);
            //context.fillText("déjà établies ou les", 560, 790);
            //context.fillText("déclarations saisies", 560, 810);
            //context.fillStyle = "rgb(9,224,96)";
            ////context.fillText("Art 67", 560, 830);

            //Association Generer note des feuilles de calcul
            //===============================================
            context.moveTo(160, 340);
            context.lineTo(610, 650);
            context.stroke();

            ////Afficher la situation fiscale de l'assujetti
            ////============================================
            //classeur = new Image();
            //classeur.onload = function () {
            //    context.drawImage(classeur, 370, 720, 130, 97);
            //}
            //classeur.src = '../../Content/classeur.jpg';

            //context.fillStyle = "rgb(0, 0, 0)";
            //context.fillText("Afficher la situation", 370, 830);
            //context.fillText("fiscale de l'assujetti", 370, 850);
            //context.fillStyle = "rgb(9,224,96)";
            ////context.fillText("Art 67", 560, 830);

            //Association Afficher la situation fiscale de l'assujetti
            //========================================================
            context.moveTo(160, 340);
            context.lineTo(370, 730);
            context.stroke();

            //Relation Generer note et etablir feuille de calcul
            //==================================================
            context.moveTo(640, 650);
            context.lineTo(450, 220);
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 530, 390);

            //Fleche            
            context.moveTo(450, 220);
            context.lineTo(450, 233);
            context.stroke();
            context.moveTo(450, 220);
            context.lineTo(460, 230);
            context.stroke();

            //Relation Corriger les elements taxation et Mise à jour du répertoire
            //================================================================
            context.moveTo(640, 325);
            context.lineTo(790, 700);
            context.stroke();

            context.fillStyle = "rgb(0, 0, 0)";
            context.fillText("<<Etend>>", 690, 440);

            //Fleche            
            context.moveTo(790, 700);
            context.lineTo(780, 690);
            context.stroke();
            context.moveTo(790, 700);
            context.lineTo(790, 685);
            context.stroke();

            /************************
            *       EVENEMENT       *
            *************************/
            canvas.addEventListener("click",function(e){
                if(e.clientX>400 && e.clientY>100 && e.clientX<510 && e.clientY<173)
			{
				//alert("Locataires");
                window.location.href="/TaxAssessment/ElaborFeuille";
			}
			
			if(e.clientX>0 && e.clientY>150 && e.clientX<124 && e.clientY<274)
			{
				alert("Bailleur");
			}
			
			if(e.clientX>150 && e.clientY>80 && e.clientX<274 && e.clientY<204)
			{
				alert("Logo");
			}
            });

            canvas.onmousemove = function (e) {
                if (e.clientX > 400 && e.clientY > 100 && e.clientX < 510 && e.clientY < 173) {
                    canvas.style.cursor = "pointer";
                }
                else {
                    canvas.style.cursor = "default";
                }
            }

            

            /*function getMousePos(canvas, evt) {
                var rect = canvas.getBoundingClientRect();
                return {
                    x: evt.clientX - rect.left,
                    y: evt.clientY - rect.top
                };
            }
            //var canvas = document.getElementById('myCanvas');
            //var context = canvas.getContext('2d');

            canvas.addEventListener('mousemove', function (evt) {
                var mousePos = getMousePos(canvas, evt);
                //var message = 'Mouse position: ' + mousePos.x + ',' + mousePos.y;
                //writeMessage(canvas, message);
                //canvas.container().style.cursor = "crosshair";
                if (mousePos.x > 400 && mousePos.y > 100 && mousePos.x < 510 && mousePos.y < 173) {
                    canvas.style.cursor = "pointer";
                }
                else {
                    canvas.style.cursor = "default";
                }
            }, false);*/

        </script>
        
        <div style="color:rgb(255, 216, 0);"></div>
    </div>
</body>
</html>
