@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RechercherAgent</title>
</head>
<body>
     <h1>Elaboration de la feuille</h1>
    <div>
            <a href="/TaxAssessment/ElaborFeuille">Elaborer feuille de calcule</a>
    </div>
</body>
</html>
