@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SelectForme</title>
    <script type="text/javascript" src="../../Content/Taxation.js"></script>
    <link type="text/css" rel="stylesheet" href="../../Content/designComposant.css" />
</head>
<body id="SelectForme" onload="processus('SelectForme');">
    <div>
        <h2>Selection de la forme juridique</h2>
        <a href="/TaxAssessment/SaisirCoordonneesEntreprise" class="bouton">Entreprise</a>
        <a href="#" class="bouton">Individu</a>
        <div id="processus" style="position:absolute; top:20px; left:340px; width:400px;">
        <h1 style="text-align:center;">PROCESSUS</h1>
    </div>
    </div>
</body>
</html>
